<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Kr">
<body>
    <header>
        <div class="jumbotron text-center test" style="margin-bottom:0; background-image: url('img/incheon_img.jpg')">
            <h1>재테크 부동산</h1>
            <p>공장 * 매매 및 임대 * 경매 * 개발 컨설팅</p>
        </div>
        <nav id="container" class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: green !important;">
            <a class="navbar-brand" href="#">홈페이지</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/move" title="페이지이동">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="페이지이동">게시판2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="페이지이동">게시판3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="페이지이동">게시판4</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>