<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Kr">
<body>
    <div class="jumbotron text-center" style="margin-bottom:0;">
      <div style="width: 500px; margin-left: 40%; text-align: left; font-size: 12px;">
        <p style="color: #858585">재테크 부동산 공인중개사사무소 / 대표: 권혁철</p>
        <p style="color: #858585">주소 : 경기도 김포시 대곶면 대명리 752-2</p>
        <p style="color: #858585">전화번호: (031) - 996 - 8922 / Tel : 010 - 5438 - 0035</p>
        <p style="color: #858585">Mail: Kwon0035@hanmail.net</p>
        <p style="font-weight: bold;">Copyright ©재테크 부동산</p>
        <p style="font-weight: bold;">All rights reserved. Powered By Seungwon Kwon</p>
      </div>
    </div>
</body>
</html>