<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <!-- plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- jquery cdn-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- bootstrap cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- vue cdn-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- utils script-->
    <script src="../js/utils.js"></script>
    <title>재테크 부동산</title>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
        .nav-link:hover {
            color: red;
        }
    </style>
</head>
<body>
    <div th:replace="common/header :: header"></div>
        <div id="viewPoint" class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                    <h2>소개</h2>
                    <h5>Photo of me:</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                    <h3>부동산정보</h3>
                    <p>부동산 관련 정보링크모음</p>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.realtyprice.kr/notice/gsindividual/siteLink.htm" target="_blank">개별공시지가</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.realtyprice.kr/notice/town/searchPastYear.htm" target="_blank">아파트 기준시가</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.iros.go.kr/PMainJ.jsp" target="_blank">등기부열람</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.courtauction.go.kr/" target="_blank">대법원 경매정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.nts.go.kr/nts/main.do" target="_blank">국세청</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.lh.or.kr/" target="_blank">한국토지주택공사</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.kamco.or.kr/main.do" target="_blank">한국자산관리공단</a>
                        </li>
                    </ul>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-8">
                    <h2>금주의 핫한 매물!</h2>
                    <h5>넘나 핫합니다..</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>을마짜리인고하니ㅏ..</p>
                    <p>매우비싼 강남센트랄팤크!!</p>
                    <br>
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Sep 2, 2017</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>소개할거에연</p>
                    <p>앙앙 너무비싸연</p>
                </div>
            </div>
        </div>
    <div th:replace="footer :: footer"></div>
</body>
<script>
    (function($, win, doc) {1
        var _this = null;
        var vm = new Vue({
            el: '#viewPoint',
            data: {
            },
            methods: {
                initialize: function(){
                },
                movePage : function() {
                    location.href = "/api/v1/move";
                },
                getData : function() {
                    // axios.get('api/v1/move')
                    //     .then(function (response) {
                    //
                    //     })
                    //     .catch(function (error) {
                    //         console.log(error);
                    //     });
                }
            },
            watch: {},
            mounted: function(){
                this.$nextTick(function () {
                });
            }
        })
    })(jQuery, window, document);
</script>


</html>